.agree {
  height: 200px;
  padding-left: 0px;
  padding-right: 0px;
}

.disagree {
  height: 200px;
  padding-left: 0px;
  padding-right: 0px;
}

.agree .color {
  height: 200px;
  background-color: #ffffc9;
  width: 100%;
  position: absolute;
  bottom: 0px;
  border: yellow solid 3px;
  border-right: 0px;
  transition: all .2s ease-in-out;
  border-radius: 10px 10px 10px 10px;
}

.disagree .color {
  height: 200px;
  background-color: #ffb4b4;
  width: 100%;
  position: absolute;
  bottom: 0px;
  border: red solid 3px;
  border-left: 0px;
  transition: all .2s ease-in-out;
  border-radius: 10px 10px 10px 10px ;
}

.poll-label {
  position: absolute;
  text-align: center;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  vertical-align: middle;
  width: 100%;
  font-size: 100px;
}

@media only screen and (max-width: 1000px) {
  .poll-label {
    font-size: 50px;
  }
  .agree {
    height: 100px;
  }

  .disagree {
    height: 100px;
  }

  .agree .color {
    height: 100px;
  }

  .disagree .color {
    height: 100px;
  }
}

.perspective {
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-d {
  width: 100%;
  background-color: #AED581 !important;
  color: white;
}

.marker {
  height: 5px;
  width: 2px;
  border-left: 1px black solid;
  border-right: 1px black solid;
  flex: 0 0 10%;
}

.markers {
  width: 100%;
  margin: auto;
}



/*
*  Sponsor Spots
*/

.sponsor {
  width: 90%;
  min-width: 200px;
  height: 200px;
  margin-bottom: 40px;
}

.sponsor img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.sponsor .img-contraint {
  width: 100%;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  border-radius: 2px 2px 0px 0px;
  margin-bottom: 10px;
}

.sponsor p {
  font-size: 12px;
  text-align: justify;
}






.btn-yes {
  font-size: 90px;
  color: #8c8c2b;
  background-color: #ffffc9;
}

.btn-no {
  font-size: 90px;
  color: black;
  background-color: #ffb4b4;
}
