#Dont forget user for a week
php_value session.gc_maxlifetime 604800

Options -Indexes

ErrorDocument 404 /404.php
ErrorDocument 403 /403.php

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [L]

# Protect composer files
<Files composer.json>
Order Deny,Allow
Deny from all
</Files>

<Files composer.lock>
Order Deny,Allow
Deny from all
</Files>

<Files composer.phar>
Order Deny,Allow
Deny from all
</Files>
